<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exam.bank.repo.mybatis.AcctMapper">
    <select id="selectOneAcctStg" resultType="String">
        select /* act@selectOneAcctStg@계좌인증단계조회 */
               acct_stg_cd
          from act_stg_mst a /* T. 계좌 인증 마스터 */
         where user_id = #{userId}
    </select>
</mapper>
