<?xml version="1.0" encoding="UTF-8" standalone="no"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exam.bank.repo.mybatis.TransactionMapper">

    <select id="selectAllTransaction" resultType="TransactionHst">
        select
             tr_dy as transactionDate
             , gid
             , method
             , path
             , status_code
             , start_time
             , end_time
             , elapsed
             , remote_ip
             , query_string
             , body
             , referrer
             , error_message as errMsg
             , create_user_id
             , create_dt
          from fwk_transaction_hst a
         where 1 = 1
           and 2 = 2
    </select>

    <insert id="insertTransaction" parameterType="TransactionHst">
        insert into fwk_transaction_hst (
        tr_dy
        , gid
        , method
        , path
        , status_code
        , start_time
        , end_time
        , elapsed
        , remote_ip
        , query_string
        , body
        , error_message
        , referrer
        , create_dt
        , create_user_id
        )
        values (
        #{transactionDate}
        , #{gid}
        , #{method}
        , #{path}
        , #{statCode}
        , #{startTime}
        , #{endTime}
        , #{elapsed}
        , #{remoteIp}
        , #{queryString}
        , #{body}
        , #{errMsg}
        , #{referrer}
        , #{createDt}
        , #{createUserId}
        )
    </insert>

</mapper>
