<?xml version="1.0" encoding="UTF-8" standalone="no"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exam.bank.repo.mybatis.UserMapper">

    <select id="selectOneUserById" resultType="ComUserMst">
        select /* com@selectUserId@사용자 단건 조회 by ID*/
               user_id
             , email
             , user_nm
          from com_user_mst a /* T. 사용자 마스터 */
         where a.user_id = ${userId}
    </select>


    <select id="selectOneUserByEmail" resultType="ComUserMst">
        select /* com@selectUserByEmail@사용자 단건 조회 by Email */
               user_id
             , email
             , user_nm
          from com_user_mst a /* T. 사용자 마스터 */
         where a.email = #{email}
    </select>

    <select id="selectListAllUser" resultType="ComUserMst">
           select /* com@selectListAllUser@모든 사용자 조회 */
               user_id
             , email
             , user_nm
          from com_user_mst a /* T. 사용자 마스터 */
    </select>
</mapper>
